@using Ppgz.Repository
@model Ppgz.Web.Areas.Dap.Models.MantenimientoCorrectivoViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2 class="form-signin-heading">MANTENIMIENTOS CORRECTIVOS</h2>



<div class="panel panel-default">
    <div class="panel-heading">MANTENIMIENTOS CORRECTIVOS REGISTRADOS</div>
    <div class="panel-body">
       
        <table class="table table-striped" id="mensajes">
            <thead>
                <tr>
                    @*<th class="text-center">Id</th>*@
                    <th class="text-center">EQUIPO</th>
                    <th class="text-center">NOMBRE DE DOCUMENTO</th>
                    @*<th class="text-center">Detalle</th>*@
                    <th class="text-center">ESTATUS</th>
            </thead>
            <tbody>
                @foreach (var mantenimientopreventivo in (ViewBag.mantenimientoscorrectivos))
                {
                    <tr>
                        @*<td class="text-center vert-align">@mantenimientopreventivo.Id</td>*@
                        <td class="text-center vert-align">@mantenimientopreventivo.Tipo</td>
                        <td class="text-center vert-align">@mantenimientopreventivo.NombreDocumento</td>
                        <td class="text-center vert-align">@mantenimientopreventivo.StatusMantenimiento</td>

                        
                    </tr>
                }



            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">


        $(document).ready(function () {
            $('#mensajes').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json"
                },
                "lengthMenu": [[10, 25, 50, 100, 500, 1000, 5000, -1], [10, 25, 50, 100, 500, 1000, 5000, "Todos"]]
            });
        });


    </script>
}